# Vite
.vite-ssg-dist
.vite-ssg-temp
*.crx
*.xpi
extension/manifest.json

src/auto-imports.d.ts
src/components.d.ts

.DS_Store
node_modules
dist
dist-ssr

# local files
*.local

# Log files
*.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vue Browser Extension Output
*.pem
*.pub
*.zip
/artifacts
